# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.sql text eol=lf
*.service text eol=lf
/package/pi-control-panel_*_armhf/DEBIAN/** text eol=lf