<div class="card" style="width: 100%;">
  <div class="card-header">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <h3>Raspberry Pi Control Panel</h3>
        <div class="btn-group" role="group" aria-label="Actions">
          <button type="button" class="btn btn-danger" (click)="reboot()" [disabled]="!isSuperUser">
            Reboot
          </button>
          <button type="button" class="btn btn-danger" (click)="shutdown()" [disabled]="!isSuperUser">
            Shutdown
          </button>
          <button type="button" class="btn btn-danger" (click)="update()" [disabled]="!isSuperUser">
            Update
          </button>
        </div>
        <div class="btn-group" role="group" aria-label="Actions">
          <button type="button" class="btn btn-warning" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-12">
          <div class="card-body">
            <accordion [isAnimated]="true">
              <accordion-group heading="Real-Time Data Chart">
                <h5>Drag up to {{MAX_CHART_VISIBLE_ITEMS}} items to appear in the real-time data chart</h5>
                <div class="row">
                  <div class="col-sm-3">
                    <b>Selected</b>
                    <bs-sortable [(ngModel)]="selectedChartItems"
                      placeholderItem="Drag at least one item"></bs-sortable>
                  </div>
                  <div class="col-sm-3">
                    <b>Not Selected</b>
                    <bs-sortable [(ngModel)]="unselectedChartItems"
                      placeholderItem="Drag an item here to deselect"></bs-sortable>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" (click)="openModal()"
                    [disabled]="selectedChartItems.length === 0 || selectedChartItems.length > MAX_CHART_VISIBLE_ITEMS">
                    Open
                  </button>
                  </div>
                </div>
              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">Chipset</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Model</dt>
                <dd class="col-sm-9">{{raspberryPi.chipset.model}}</dd>
                <dt class="col-sm-3">Revision</dt>
                <dd class="col-sm-9">{{raspberryPi.chipset.revision}}</dd>
                <dt class="col-sm-3">Serial</dt>
                <dd class="col-sm-9">{{raspberryPi.chipset.serial}}</dd>
                <dt class="col-sm-3">Version</dt>
                <dd class="col-sm-9">{{raspberryPi.chipset.version}}</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">GPU</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Memory</dt>
                <dd class="col-sm-9">{{raspberryPi.gpu.memory}} MB</dd>
                <dt class="col-sm-3">Frequency</dt>
                <dd class="col-sm-9">{{raspberryPi.gpu.frequency}} MHz</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">OS</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">{{raspberryPi.os.name}}</dd>
                <dt class="col-sm-3">Kernel</dt>
                <dd class="col-sm-9">{{raspberryPi.os.kernel}}</dd>
                <dt class="col-sm-3">Hostname</dt>
                <dd class="col-sm-9">{{raspberryPi.os.hostname}}</dd>
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Uptime</dt>
                    <dd class="col-sm-8">{{raspberryPi.os.status.uptime}}</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.os.status.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="card-header">
              <div class="container">
                <div class="row d-flex justify-content-between">
                  <h4>CPU</h4>
                  <div class="btn-group" dropdown [isDisabled]="!isSuperUser">
                    <button id="button-disabled-menu" dropdownToggle type="button" class="btn btn-danger dropdown-toggle"
                            aria-controls="dropdown-disabled-menu">
                      Overclock <span class="caret"></span>
                    </button>
                    <ul id="dropdown-disabled-menu" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-disabled-menu">
                      <li role="menuitem" *ngFor="let level of CpuMaxFrequencyLevel | keyvalue">
                        <a class="dropdown-item" (click)="overclock(level.key)">{{ level.value }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Model</dt>
                <dd class="col-sm-9">{{raspberryPi.cpu.model}}</dd>
                <dt class="col-sm-3">Number of Cores</dt>
                <dd class="col-sm-9">{{raspberryPi.cpu.cores}}</dd>
                <dt class="col-sm-3">Maximum Frequency</dt>
                <dd class="col-sm-9">{{raspberryPi.cpu.maxFrequency}} MHz</dd>
                <dt class="col-sm-3">Frequency</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Value</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.frequency.value}} MHz</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.frequency.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
                <dt class="col-sm-3">Temperature</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Value</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.temperature.value}} &#8451;</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.temperature.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
                <dt class="col-sm-3">Load Status</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.dateTime | date:'medium'}}</dd>
                    <dt class="col-sm-4">Last minute average</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.lastMinuteAverage | number:'1.0-2'}}</dd>
                    <dt class="col-sm-4">Last 5 minutes average</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.last5MinutesAverage | number:'1.0-2'}}</dd>
                    <dt class="col-sm-4">Last 15 minutes average</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.last15MinutesAverage | number:'1.0-2'}}</dd>
                    <dt class="col-sm-4">Kernel real-time</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.kernelRealTime | number:'1.0-2'}}&#37;</dd>
                    <dt class="col-sm-4">User real-time</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.userRealTime | number:'1.0-2'}}&#37;</dd>
                    <dt class="col-sm-4">Total real-time</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.totalRealTime | number:'1.0-2'}}&#37;</dd>
                  </dl>
                </dd>
              </dl>
              <ng-template #popTemplate>
                <table class="table table-striped table-top-processes">
                  <thead>
                  <tr>
                    <th scope="col">PID</th>
                    <th scope="col">User</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Nice Value</th>
                    <th scope="col">Total Memory</th>
                    <th scope="col">RAM</th>
                    <th scope="col">Shared Memory</th>
                    <th scope="col">State</th>
                    <th scope="col">CPU %</th>
                    <th scope="col">RAM %</th>
                    <th scope="col">Total CPU Time</th>
                    <th scope="col">Command</th>
                    <th scope="col">Kill</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let process of raspberryPi.cpu.loadStatus.processes">
                    <td>{{ process.processId }}</td>
                    <td>{{ process.user }}</td>
                    <td>{{ process.priority }}</td>
                    <td>{{ process.niceValue }}</td>
                    <td>{{ process.totalMemory }}</td>
                    <td>{{ process.ram }}</td>
                    <td>{{ process.sharedMemory }}</td>
                    <td>{{ process.state }}</td>
                    <td>{{ process.cpuPercentage }}</td>
                    <td>{{ process.ramPercentage }}</td>
                    <td>{{ process.totalCpuTime }}</td>
                    <td>{{ process.command }}</td>
                    <td>
                      <button type="button" class="btn btn-danger" (click)="killProcess(process.processId)"
                        [disabled]="!isAuthorizedToKill(process.user)">
                        X
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-template>
              <button type="button" class="btn btn-info btn-top-processes" [popover]="popTemplate"
                [outsideClick]="true">
                Top processes
              </button>
            </div>
          </div>
          <br/>
          <div class="card">
            <h4 class="card-header">RAM</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">{{raspberryPi.ram.total}} MB</dd>
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Used</dt>
                    <dd class="col-sm-8">{{raspberryPi.ram.status.used}} MB ({{100 * raspberryPi.ram.status.used / raspberryPi.ram.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Free</dt>
                    <dd class="col-sm-8">{{raspberryPi.ram.status.free}} MB ({{100 * raspberryPi.ram.status.free / raspberryPi.ram.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Disk Cache</dt>
                    <dd class="col-sm-8">{{raspberryPi.ram.status.diskCache}} MB ({{100 * raspberryPi.ram.status.diskCache / raspberryPi.ram.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.ram.status.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
              </dl>
            </div>
          </div>
          <br />
          <div class="card">
            <h4 class="card-header">Swap Memory</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">{{raspberryPi.swapMemory.total}} MB</dd>
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Used</dt>
                    <dd class="col-sm-8">{{raspberryPi.swapMemory.status.used}} MB ({{100 * raspberryPi.swapMemory.status.used / raspberryPi.swapMemory.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Free</dt>
                    <dd class="col-sm-8">{{raspberryPi.swapMemory.status.free}} MB ({{100 * raspberryPi.swapMemory.status.free / raspberryPi.swapMemory.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.swapMemory.status.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
              </dl>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">Disk</h4>
            <div class="card-body">
              <div *ngFor="let fileSystem of raspberryPi.disk.fileSystems">
                <div class="card">
                  <h4 class="card-header">{{fileSystem.name}}</h4>
                  <div class="card-body">
                    <dl class="row">
                      <dt class="col-sm-3">Type</dt>
                      <dd class="col-sm-9">{{fileSystem.type}}</dd>
                      <dt class="col-sm-3">Total</dt>
                      <dd class="col-sm-9">{{fileSystem.total}} KB</dd>
                      <dt class="col-sm-3">Status</dt>
                      <dd class="col-sm-9">
                        <dl class="row">
                          <dt class="col-sm-4">Used</dt>
                          <dd class="col-sm-8">{{fileSystem.status.used}} KB ({{100 * fileSystem.status.used / fileSystem.total | number:'1.0-2'}}&#37;)</dd>
                          <dt class="col-sm-4">Available</dt>
                          <dd class="col-sm-8">{{fileSystem.status.available}} KB ({{100 * fileSystem.status.available / fileSystem.total | number:'1.0-2'}}&#37;)</dd>
                          <dt class="col-sm-4">Datetime</dt>
                          <dd class="col-sm-8">{{fileSystem.status.dateTime | date:'medium'}}</dd>
                        </dl>
                      </dd>
                    </dl>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
          <br />
          <div class="card">
            <h4 class="card-header">Network</h4>
            <div class="card-body">
              <div *ngFor="let networkInterface of raspberryPi.network.networkInterfaces">
                <div class="card">
                  <h4 class="card-header">{{networkInterface.name}}</h4>
                  <div class="card-body">
                    <dl class="row">
                      <dt class="col-sm-3">IP</dt>
                      <dd class="col-sm-9">{{networkInterface.ipAddress}}</dd>
                      <dt class="col-sm-3">Subnet Mask</dt>
                      <dd class="col-sm-9">{{networkInterface.subnetMask}}</dd>
                      <dt class="col-sm-3">Default Gateway</dt>
                      <dd class="col-sm-9">{{networkInterface.defaultGateway}}</dd>
                      <dt class="col-sm-3">Status</dt>
                      <dd class="col-sm-9">
                        <dl class="row">
                          <dt class="col-sm-4">Total Received</dt>
                          <dd class="col-sm-8">{{networkInterface.status.totalReceived | bytes}}</dd>
                          <dt class="col-sm-4">Receive Speed</dt>
                          <dd class="col-sm-8">{{networkInterface.status.receiveSpeed | bytes}}/s</dd>
                          <dt class="col-sm-4">Total Sent</dt>
                          <dd class="col-sm-8">{{networkInterface.status.totalSent | bytes}}</dd>
                          <dt class="col-sm-4">Send Speed</dt>
                          <dd class="col-sm-8">{{networkInterface.status.sendSpeed | bytes}}/s</dd>
                          <dt class="col-sm-4">Datetime</dt>
                          <dd class="col-sm-8">{{networkInterface.status.dateTime | date:'medium'}}</dd>
                        </dl>
                      </dd>
                    </dl>
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
