<div class="card" style="width: 100%;">
  <div class="card-header">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <h3>Raspberry Pi Control Panel</h3>
        <div class="btn-group" role="group" aria-label="Actions">
          <button type="button" class="btn btn-primary" (click)="openModal()">
            Real-Time info
          </button>
          <button type="button" class="btn btn-warning" (click)="logout()">
            Logout
          </button>
          <button type="button" class="btn btn-danger" (click)="shutdown()">
            Shutdown
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">Chipset</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Model</dt>
                <dd class="col-sm-9">{{raspberryPi.chipset.model}}</dd>
                <dt class="col-sm-3">Revision</dt>
                <dd class="col-sm-9">{{raspberryPi.chipset.revision}}</dd>
                <dt class="col-sm-3">Serial</dt>
                <dd class="col-sm-9">{{raspberryPi.chipset.serial}}</dd>
                <dt class="col-sm-3">Version</dt>
                <dd class="col-sm-9">{{raspberryPi.chipset.version}}</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">Disk</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Filesystem</dt>
                <dd class="col-sm-9">{{raspberryPi.disk.fileSystem}}</dd>
                <dt class="col-sm-3">Type</dt>
                <dd class="col-sm-9">{{raspberryPi.disk.type}}</dd>
                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">{{raspberryPi.disk.total}} KB</dd>
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Used</dt>
                    <dd class="col-sm-8">{{raspberryPi.disk.status.used}} KB ({{100 * raspberryPi.disk.status.used / raspberryPi.disk.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Available</dt>
                    <dd class="col-sm-8">{{raspberryPi.disk.status.available}} KB ({{100 * raspberryPi.disk.status.available / raspberryPi.disk.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.disk.status.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">OS</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">{{raspberryPi.os.name}}</dd>
                <dt class="col-sm-3">Kernel</dt>
                <dd class="col-sm-9">{{raspberryPi.os.kernel}}</dd>
                <dt class="col-sm-3">Hostname</dt>
                <dd class="col-sm-9">{{raspberryPi.os.hostname}}</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">GPU</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Memory</dt>
                <dd class="col-sm-9">{{raspberryPi.gpu.memory}} MB</dd>
              </dl>
            </div>
          </div>
          <br />
          <div class="card">
            <h4 class="card-header">CPU</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Model</dt>
                <dd class="col-sm-9">{{raspberryPi.cpu.model}}</dd>
                <dt class="col-sm-3">Number of Cores</dt>
                <dd class="col-sm-9">{{raspberryPi.cpu.cores}}</dd>
                <dt class="col-sm-3">Temperature</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Value</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.temperature.value}} &#8451;</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.temperature.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
                <dt class="col-sm-3">Average Load</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Last minute</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.averageLoad.lastMinute}}</dd>
                    <dt class="col-sm-4">Last 5 minutes</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.averageLoad.last5Minutes}}</dd>
                    <dt class="col-sm-4">Last 15 minutes</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.averageLoad.last15Minutes}}</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.averageLoad.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
                <dt class="col-sm-3">Real-Time Load</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Kernel</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.realTimeLoad.kernel}}&#37;</dd>
                    <dt class="col-sm-4">User</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.realTimeLoad.user}}&#37;</dd>
                    <dt class="col-sm-4">Total</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.realTimeLoad.total}}&#37;</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.realTimeLoad.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
              </dl>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">RAM</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">{{raspberryPi.ram.total}} MB</dd>
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Used</dt>
                    <dd class="col-sm-8">{{raspberryPi.ram.status.used}} MB ({{100 * raspberryPi.ram.status.used / raspberryPi.ram.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Free</dt>
                    <dd class="col-sm-8">{{raspberryPi.ram.status.free}} MB ({{100 * raspberryPi.ram.status.free / raspberryPi.ram.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Disk Cache</dt>
                    <dd class="col-sm-8">{{raspberryPi.ram.status.diskCache}} MB ({{100 * raspberryPi.ram.status.diskCache / raspberryPi.ram.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.ram.status.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
              </dl>
            </div>
          </div>
          <br />
          <div class="card">
            <h4 class="card-header">Swap Memory</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">{{raspberryPi.swapMemory.total}} MB</dd>
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Used</dt>
                    <dd class="col-sm-8">{{raspberryPi.swapMemory.status.used}} MB ({{100 * raspberryPi.swapMemory.status.used / raspberryPi.swapMemory.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Free</dt>
                    <dd class="col-sm-8">{{raspberryPi.swapMemory.status.free}} MB ({{100 * raspberryPi.swapMemory.status.free / raspberryPi.swapMemory.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.swapMemory.status.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
              </dl>
            </div>
          </div>
        </div>

        
      </div>
    </div>

  </div>
</div>
