<div class="card" style="width: 100%;">
  <div class="card-header">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <h3>Raspberry Pi Control Panel</h3>
        <div class="btn-group" role="group" aria-label="Actions">
          <button type="button" class="btn btn-primary" (click)="openModal()">
            Real-Time Data
          </button>
          <button type="button" class="btn btn-warning" (click)="logout()">
            Logout
          </button>
          <button type="button" class="btn btn-danger" (click)="shutdown()">
            Shutdown
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">Chipset</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Model</dt>
                <dd class="col-sm-9">{{raspberryPi.chipset.model}}</dd>
                <dt class="col-sm-3">Revision</dt>
                <dd class="col-sm-9">{{raspberryPi.chipset.revision}}</dd>
                <dt class="col-sm-3">Serial</dt>
                <dd class="col-sm-9">{{raspberryPi.chipset.serial}}</dd>
                <dt class="col-sm-3">Version</dt>
                <dd class="col-sm-9">{{raspberryPi.chipset.version}}</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">Disk</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Filesystem</dt>
                <dd class="col-sm-9">{{raspberryPi.disk.fileSystem}}</dd>
                <dt class="col-sm-3">Type</dt>
                <dd class="col-sm-9">{{raspberryPi.disk.type}}</dd>
                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">{{raspberryPi.disk.total}} KB</dd>
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Used</dt>
                    <dd class="col-sm-8">{{raspberryPi.disk.status.used}} KB ({{100 * raspberryPi.disk.status.used / raspberryPi.disk.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Available</dt>
                    <dd class="col-sm-8">{{raspberryPi.disk.status.available}} KB ({{100 * raspberryPi.disk.status.available / raspberryPi.disk.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.disk.status.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">OS</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Name</dt>
                <dd class="col-sm-9">{{raspberryPi.os.name}}</dd>
                <dt class="col-sm-3">Kernel</dt>
                <dd class="col-sm-9">{{raspberryPi.os.kernel}}</dd>
                <dt class="col-sm-3">Hostname</dt>
                <dd class="col-sm-9">{{raspberryPi.os.hostname}}</dd>
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Uptime</dt>
                    <dd class="col-sm-8">{{raspberryPi.os.status.uptime}}</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.os.status.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">GPU</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Memory</dt>
                <dd class="col-sm-9">{{raspberryPi.gpu.memory}} MB</dd>
              </dl>
            </div>
          </div>
          <br />
          <div class="card">
            <h4 class="card-header">CPU</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Model</dt>
                <dd class="col-sm-9">{{raspberryPi.cpu.model}}</dd>
                <dt class="col-sm-3">Number of Cores</dt>
                <dd class="col-sm-9">{{raspberryPi.cpu.cores}}</dd>
                <dt class="col-sm-3">Temperature</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Value</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.temperature.value}} &#8451;</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.temperature.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
                <dt class="col-sm-3">Load Status</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.dateTime | date:'medium'}}</dd>
                    <dt class="col-sm-4">Last minute average</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.lastMinuteAverage}}</dd>
                    <dt class="col-sm-4">Last 5 minutes average</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.last5MinutesAverage}}</dd>
                    <dt class="col-sm-4">Last 15 minutes average</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.last15MinutesAverage}}</dd>
                    <dt class="col-sm-4">Kernel real-time</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.kernelRealTime}}&#37;</dd>
                    <dt class="col-sm-4">User real-time</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.userRealTime}}&#37;</dd>
                    <dt class="col-sm-4">Total real-time</dt>
                    <dd class="col-sm-8">{{raspberryPi.cpu.loadStatus.totalRealTime}}&#37;</dd>
                  </dl>
                </dd>
              </dl>
              <ng-template #popTemplate>
                <table class="table table-striped table-top-processes">
                  <thead>
                  <tr>
                    <th scope="col">PID</th>
                    <th scope="col">User</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Nice Value</th>
                    <th scope="col">Total Memory</th>
                    <th scope="col">RAM</th>
                    <th scope="col">Shared Memory</th>
                    <th scope="col">State</th>
                    <th scope="col">CPU %</th>
                    <th scope="col">RAM %</th>
                    <th scope="col">Total CPU Time</th>
                    <th scope="col">Command</th>
                    <th scope="col">Kill</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let process of raspberryPi.cpu.loadStatus.processes">
                    <td>{{ process.processId }}</td>
                    <td>{{ process.user }}</td>
                    <td>{{ process.priority }}</td>
                    <td>{{ process.niceValue }}</td>
                    <td>{{ process.totalMemory }}</td>
                    <td>{{ process.ram }}</td>
                    <td>{{ process.sharedMemory }}</td>
                    <td>{{ process.state }}</td>
                    <td>{{ process.cpuPercentage }}</td>
                    <td>{{ process.ramPercentage }}</td>
                    <td>{{ process.totalCpuTime }}</td>
                    <td>{{ process.command }}</td>
                    <td>
                      <button type="button" class="btn btn-danger" (click)="kill(process.processId)">
                        X
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-template>
              <button type="button" class="btn btn-info btn-top-processes" [popover]="popTemplate"
                [outsideClick]="true">
                Top processes
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <div class="card">
            <h4 class="card-header">RAM</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">{{raspberryPi.ram.total}} MB</dd>
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Used</dt>
                    <dd class="col-sm-8">{{raspberryPi.ram.status.used}} MB ({{100 * raspberryPi.ram.status.used / raspberryPi.ram.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Free</dt>
                    <dd class="col-sm-8">{{raspberryPi.ram.status.free}} MB ({{100 * raspberryPi.ram.status.free / raspberryPi.ram.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Disk Cache</dt>
                    <dd class="col-sm-8">{{raspberryPi.ram.status.diskCache}} MB ({{100 * raspberryPi.ram.status.diskCache / raspberryPi.ram.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.ram.status.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
              </dl>
            </div>
          </div>
          <br />
          <div class="card">
            <h4 class="card-header">Swap Memory</h4>
            <div class="card-body">
              <dl class="row">
                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">{{raspberryPi.swapMemory.total}} MB</dd>
                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">
                  <dl class="row">
                    <dt class="col-sm-4">Used</dt>
                    <dd class="col-sm-8">{{raspberryPi.swapMemory.status.used}} MB ({{100 * raspberryPi.swapMemory.status.used / raspberryPi.swapMemory.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Free</dt>
                    <dd class="col-sm-8">{{raspberryPi.swapMemory.status.free}} MB ({{100 * raspberryPi.swapMemory.status.free / raspberryPi.swapMemory.total | number:'1.0-2'}}&#37;)</dd>
                    <dt class="col-sm-4">Datetime</dt>
                    <dd class="col-sm-8">{{raspberryPi.swapMemory.status.dateTime | date:'medium'}}</dd>
                  </dl>
                </dd>
              </dl>
            </div>
          </div>
        </div>

        
      </div>
    </div>

  </div>
</div>
