<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="realTimeModalLabel">Real-Time Data</h5>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngx-charts-line-chart [legend]="true" [autoScale]="true" [xAxis]="true" [yAxis]="true"
      [showXAxisLabel]="true" [xAxisLabel]="'Datetime'" [timeline]="true" [results]="chartData"
      [scheme]="colorScheme" *ngIf="isChartDataReady()">
      <ng-template #tooltipTemplate let-model="model">
        {{ model.series }}: {{ getValue(model) | number:'1.0-2' }}
        <br/>
        {{ model.name | date:'medium' }}
        <div *ngIf="model.processes">
          <br/>
          <table>
            <thead>
              <tr>
                <th>PID</th>
                <th>User</th>
                <th>PR</th>
                <th>NI</th>
                <th>Virt</th>
                <th>Res</th>
                <th>Shr</th>
                <th>S</th>
                <th>%CPU</th>
                <th>%Mem</th>
                <th>Time+</th>
                <th>Command</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let process of model.processes">
                <td>{{ process.processId }}</td>
                <td>{{ process.user }}</td>
                <td>{{ process.priority }}</td>
                <td>{{ process.niceValue }}</td>
                <td>{{ process.totalMemory }}</td>
                <td>{{ process.ram }}</td>
                <td>{{ process.sharedMemory }}</td>
                <td>{{ process.state }}</td>
                <td>{{ process.cpuPercentage }}</td>
                <td>{{ process.ramPercentage }}</td>
                <td>{{ process.totalCpuTime }}</td>
                <td>{{ process.command }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
      <ng-template #seriesTooltipTemplate let-model="model">
        <div *ngFor="let m of model">
          <span [style.color]="m.color">&#9632;</span>
          {{ m.series }}: {{ getValue(m) | number:'1.0-2' }}
        </div>
      </ng-template>
    </ngx-charts-line-chart>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="loadPreviousPage()">&#10094;</button>
    <button type="button" class="btn btn-secondary" (click)="loadNextPage()">&#10095;</button>
  </div>
</div>